.affairContainer {

}

.affair {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
}

.affairName {
    color: springgreen;
}

.affairPriorityLow {
    color: green
}

.affairPriorityMiddle {
    color: orange
}

.affairPriorityHigh {
    color: red
}