
.default {
    width: 130px;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 50%;
    font-family: 'FreeMono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #00ff00 0%, #27a027 51%, #0c140b 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transition: .5s;
}



.default:hover {
    background-position:  right, center;
}

.default:disabled {
    background-image: none;
    background-color: grey;
}

.red {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 20px;
    text-decoration: none;
    border-radius: 40%;
    background-color: #8e0909;
    font-family: 'FreeMono', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.red:hover {
    background-color: red;
}
