body {
    min-height: 100vh;
    background-size: cover;
    background: url(https://previews.123rf.com/images/wbraga/wbraga1805/wbraga180500039/102010925-hacker-mit-dem-internet-gehackten-abstrakten-computerserver-datenbank-netzwerkspeicher-firewall-kont.jpg), rgba(255,255,255,0);
    background-blend-mode: color;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
